<div id="header">
      <!-- Social media icons on the left -->
      <div class="social-icons">
        <a href="https://twitter.com/your-twitter-profile" target="_blank"><img src="images/social-icons/twitter.png" alt="Twitter"/></a>
        <a href="https://www.instagram.com/james.crabtree17/" target="_blank"><img src="images/social-icons/instagram.png" alt="Instagram"/></a>
        <a href="https://github.com/james-crabtree" target="_blank"><img src="images/social-icons/github.png" alt="GitHub"/></a>
        <a href="https://www.linkedin.com/in/your-linkedin-profile" target="_blank"><img src="images/social-icons/linkedin.png" alt="LinkedIn"/></a>
        <a href="" target="_blank"><img src="images/social-icons/home.png" alt="My website"/></a>
      </div>
      <div class="nav-links">
        <a href="#" id="dark-mode-link"><img id="dark-mode-image" src="images/other/brightness.png" alt="Toggle dark/light mode"/></a>
      </div>
    </div>