/* CODE FOR THE HEADER */

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(72, 69, 69);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 5px solid rgb(72, 69, 69);
}

.social-icons a,
.nav-links p {
  text-decoration: none;
  margin-right: 10px;
  margin-left: 20px;
  color: white;
  padding-left: 40px;
}

.social-icons img {
  width: 27px;
  height: 27px;
  padding-top: 5px;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-right: 40px;
}



body {
  background-color: black;
  color: white;
}

.main-container {
  margin-top: 100px;
  margin-left: 11em;
  margin-right: 11em;
}

h1 {
  margin-left: 1.2em;
}

.blog-preview-div {
  background-color: rgb(72, 69, 69);
  border: gray 3px solid;
}

.blog-preview {
  background-color: rgb(72, 69, 69);
  border-top: gray 2px solid;
}

.blog-preview p {
  margin: 0; /* Reset margin to zero */
}

.blog-text {
  padding-left: 20px;
  padding-right: 20px;
}

.blog-title {
  padding-left: 20px;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}

/* POST DATE AND POST READ TIME DIV STYLING */
.post-info {
  display: flex;
  margin-top: 1.1em;
  margin-left: 1.01em;
  margin-bottom: 1em;
}

.post-date,
.read-time,
.author {
  flex: 1; 
  min-width: 50px; 
  max-width: 100px; 
  padding: 5px;
  text-align: center; 
}

.post-macros {
  font-size: 15px;
  padding-left: 3px;
}


/* CODE FOR EACH INDIVIDUAL BLOG POST */
.blog-main-div {
  background-color: black;
}

.blog-post {
  margin-top: 100px;
  margin-left: 11em;
  margin-right: 11em;
  background-color: rgb(72, 69, 69);
  border: gray 3px solid;
}

.blog-text {
  padding-left: 1em;
  padding-right: 1em;
}



/* FOOTER CODE */

footer {
  text-align: center;
  border-top: 2px solid gray;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-top: 30px;
}
