<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>James Crabtree - Values</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="stylesheet" rel="stylesheet" type="text/css" href="styles.css"/>
  </head>
  <body>

    <div id="header">
      <!-- Social media icons on the left -->
      <div class="social-icons">
        <a href="https://twitter.com/your-twitter-profile" target="_blank"><img src="images/social-icons/twitter.png" alt="Twitter"/></a>
        <a href="https://www.instagram.com/james.crabtree17/" target="_blank"><img src="images/social-icons/instagram.png" alt="Instagram"/></a>
        <a href="https://github.com/james-crabtree" target="_blank"><img src="images/social-icons/github.png" alt="GitHub"/></a>
        <a href="https://www.linkedin.com/in/your-linkedin-profile" target="_blank"><img src="images/social-icons/linkedin.png" alt="LinkedIn"/></a>
        <a href="" target="_blank"><img src="images/social-icons/home.png" alt="My website"/></a>
      </div>
      <div class="nav-links">
        <a href="#" id="dark-mode-link"><img id="dark-mode-image" src="images/other/brightness.png" alt="Toggle dark/light mode"/></a>
      </div>
    </div>


    <div class="main-div">
      <div class="blog-post">
        <h2 class="blog-text">CORE WEEK 1: Identity, values and strengths.</h2>

        <p class="blog-text">
          <h3 class="blog-text">How have the people around me helped shape my values?</h3>
          <p class="blog-text">
            Like a lot of children growing up I took a lot of notice of my parents and my auntie (she visited once a year so I have spent a lot of time 
            with her), how they acted, their values, and the way they conducted themselves. My parents are both extremely honest, hard working and 
            genuine people and naturally I feel like a lot of those values have rubbed off on me and helped shaped me into the person I am today, and 
            the values that I follow and hold close to me.
          </p>
            <br>
      
          <h3 class="blog-text">What is a strength of mine and how will it help me on my learning journey?</h3>
          <p class="blog-text">
            I think one of my biggest strengths that will help me on my learning journey, and especially as a programmer, is that I am good at thinking 
            outside of the box, looking at problems and finding a solution, and thinking of different ways to solve the problems - or on the other hand, 
            thinking of different ways to achieve a desired result.
          </p>
            <br>
      
          <h3 class="blog-text">What are my limitations in terms of learning and career?</h3>
          <p class="blog-text">
            I think a big limitation of mine that may affect my learning and career aspirations is my struggle to focus. I have for as long as I can 
            remember struggled to stay focus on a single task for more than 10-15 minutes at a time. My brain just jumps from one idea or project to 
            another so one thing you may notice is that I will constantly have 3 or 4 different projects going at the exact same time, because my brain 
            just gets bored of doing one task and then switches off and jumps to another task.
          </p>
            <br>
      
          <h3 class="blog-text">Share an example of when you were trying to work productively with others, but there was resistance or tension. Discuss 
            strategies you tried at the time, how effective they were, and your reflections on what other strategies you would try now and why.</h3>
          <p class="blog-text">
            Back in college I was put in a group project with a few other students, one of which I didn’t get on well with at all and frankly I didn’t 
            like - this person felt the same towards me so there was quite a bit of tension. Ultimately, I recognised that this group project was 
            important towards my final grade and decided to put my dislike for this person aside and try work effectively with them to try and do the 
            best possible work. How effective was this? Well I still found this person unbelievably annoying through-out the entire project timeline, 
            but we got a great mark so I guess it worked?
        </p>
      </div>
    </div>
    
    <script src="dark-mode.js"></script>
  </body>
</html>
<footer>
  <p id="footer-text">Website designed and developed by James Crabtree - 2023 ©</p>
</footer>